<div class="container-fluid">
  <h1>Guest Dashboard</h1>
  <a href="/admin/guests/new" class='col'><button type="button" class="btn btn-primary">Upload Guest List</button></a>
  <a href="#" class='col'><button type="button" class="btn btn-primary">Compose Email</button></a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Plus One</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @guests.each do |guest| %>
        <tr>
          <td><%= guest.name %> </td>
          <td><%= guest.email %> </td>
          <td><%= guest.plus_ones.pluck(:name).join(', ') %> </td>
          <td>Edit Link</td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>