<div class="container align-items-center">
  <div class="col">
    <h1>Message Preview</h1>
    <p>Subject: <%= @message.subject %> </p>
    <div class="email-preview jumbotron">
      <%= raw @message.body %>
    </div>

  </div>
  <a href="?preview=1"><button type="button" class="btn btn-primary">Send test email to self</button></a>
  <a href="?send_all=1"><button type="button" class="btn btn-primary">Send email to all guests</button></a>
</div>
