<div class="main__title">
  <div class="main_50_width">
    <h1>The Event</h1>
    <h2>Schedule</h2>
    <p>
      We will send out a definitive schedule closer to the wedding date. Stay tuned!
    </p>
    <h2>What to expect</h2>
    <p>
      August in BC is usually gorgeous weather - expect sunshine (though bring a raincoat just in case!) and daytime temperatures in the 20-25 degrees celsius range. It tends to cool off in the evening though, so be prepared with a sweater. <br><br>

      Prepare for the elements; mosquito spray and sunscreen will probably come in handy.<br><br>

      In the recent past, August has been too dry in the region. There will likely be a fire ban, so please be mindful of the laws, and prepared for smoky air.<br><br>

      Wedding attire is lumberjack-chic. Woodsy, rustic, or forest-elegant. Really, we're all about you being comfortable in whatever makes you feel gorgeous! This is an outdoor venue, in a forest, so choose your footwear with that in mind!
    </p>
    <h2>Registry</h2>
    <p>
      Your presence is the very best present of all! After finally settling down together in a land home, we feel lucky to have all the material possessions we need (and that can fit in our Vancouver apartment!). Therefore, we'll be forgoing a gift registry. If you would like to contribute towards our honeymoon fund, we've been dying to re-visit Jack's childhood haunts in Peru!<br><br>
      Otherwise, we encourage you to instead consider donating to one of these organizations we hold near and dear:<br><br>



      <%= link_to 'The NOAH Centre', 'http://www.thenoahcenter.org/' %>: This is where we adopted our beloved doggo, Oso! They're an amazing animal shelter that rescues, cares for, spays, and neuters countless future furry companions.<br><br>

      <%= link_to 'Virgin Islands Search and Rescue (VISAR)', 'http://visar.org/' %>: This volunteer-run search and rescue operation in the BVI is on standby to keep our "other-home" waters safe for visitors and locals alike.<br><br>

      <%= link_to 'The Center for Whale Research', 'https://www.whaleresearch.com/' %>: We hold our local waters and creatures close to our hearts. These people put in the work and research to create science-based solutions for helping our local Orcas.
    </p>
  </div>

  </div>

<style media="screen">
  p {
    font-family: 'Source Sans Pro', sans-serif;
  }
  @media only screen and (max-width: 600px) {
    .main_50_width {
      width: 90%;
    }
  }
</style>
