<div class="main__title">
  <p>Jack Pincus and Cayley Coulbourn</p>
  <p>August 24, 2019</p>
  <p>Sunwolf Lodge, Squamish, BC</p>
  <p class='links'> <%= link_to 'Accommodations', accommodations_path %> | <%= link_to "About Squamish", squamish_path %> | <%= link_to "Event Information", event_path %> </p>
</div>
<style media="screen">
  .links * {
    color: black;
    font-weight: bold;
  }
</style>
